/*The selectors in CSSTemplate is organized in alphabetical order for the ease of the reader. 
This was done to increase the efficiency or reading with the large number of distinct selectors.
CSSTemplate is used in index.html, contact.html, and schedule.html. */
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: "Times New Roman";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Open-Sans/OpenSans-Regular.eot");
    src: url("../fonts/Open-Sans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Open-Sans/OpenSans-Regular.woff") format("woff"), url("../fonts/Open-Sans/OpenSans-Regular.ttf") format("truetype");
}

body {
    font-family: 'Koh Santepheap', Arial;
    font-size: 90%;
    color: #666;
    background-color: #016a86;
}

.center-mid-1{
    background-color: lightgray;
    padding-bottom: 15px;
    padding-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-mid-2{
    width: 940px;
    background-color: #efeae6;
    padding-bottom: 15px;
    padding-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-mid-3{
    width: 940px;
    background-color: #dee1e5;
    padding-bottom: 15px;
    padding-top: 5px;
    display: block;
}

.center-text {
    text-align: center;
    background-color:lightgray;
}

.center-2>h1, .center-2>p{
    text-align: center;
}

.center-2{
    width: 940px;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 5px;
}

.center-3{
    width: 300px;
    margin: 0 0;
}

.coolcool {
    display: block;
    text-align: center;
}

fieldset {
    width: 310px;
    margin-top: 20px;
    border: 1px solid black;
    background-color: yellow;
    line-height: 1.6em;
}

.footer {
    display: block;
    box-align: center;
}

h1.center-text {
    font-family: 'Koh Santepheap', serif;
    font-size: 550%;
}

.img-1{
    margin: auto;
    width: 100%;
    padding: 5px;
}
.img-2{
    margin: auto;
    width: 30%;
    padding-left: 5px;
}

input[type="submit"] {
    border: 1px solid #006633;
    background-color: #009966;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    border: 1px solid #006633;
    background-color: #00CC33;
    color: #ffffff;
    cursor: pointer;
}

input[type="text"] {
    width: 120px;
    border: 1px solid #d6d6d6;
    padding: 2px;
    outline: none;
}

input[type="text"]:focus,

input[type="text"]:hover {
    background-color: #d0e2f0;
    border: 1px solid #999999;
}

legend {
    font-style: italic;
    color: #666666;
}

li {
    list-style-image: url("images/icon-plus.png");
    line-height: 1.6em;
}
}

.menu-holder {
    float: right;
    max-width: 80%;
    position: fixed;
    text-align: center;
    height: 100%;
    background-color: #ffffff;
    right: -100%;
    top: 0;
    transition: right .3s ease;
    width: 100%;
    overflow: auto;
    max-width: 100%;
    z-index: 99;
}  

#page {
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    border: 4px  #000;
    background-color: #f6f4e8;
    vertical-align: baseline;
}

.smlogo {
    height: 21.3px;
    width: 17px;
    position: relative;
    left: 48%;
}

.submit {
    width: 310px;
    text-align: right;
}
    
table {
    border-spacing: 0px;
}

td {
    text-shadow: 1px 1px 1px #ffffff;
}

th, td {
    text-align: left;
    background-color: orange;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    font-size: 90%;
    margin: 0px;
}

.title {
    float: left;
    width: 160px;
    clear: left;
}

tr.even td, tr.even th {
    background-color: red;
}

tr.head th {
    color: #fff;
    background-color: pink;
    border-bottom: 2px solid #547ca0;
    border-right: 1px solid #749abe;
    border-top: 1px solid #90b4d6;
    text-align: center;
    text-shadow: -1px -1px 1px #666666;
    letter-spacing: 0.15em;
}

tr.head th:last-child {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

ul li {
    display: inline;
    padding: 10px;
    float: right;
}

ul li a, 
ul a :hover, 
ul li a:focus, 
ul li a:active {
border: none;
text-decoration: none;
color: inherit;
}

/*This video is on the index.html page*/
video {
    width: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.zzz {
    text-align: center;
    background-color:white;
    margin: 20px;
}